body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#start-screen, #ruleta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-name, #house-emblem, #start-button, #spin-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

#ruleta-container {
    position: relative;
}

#ruleta {
    width: 300px;
    height: 300px;
    border: 10px solid #333;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: conic-gradient(
        red 0% 11.1%, 
        green 11.1% 22.2%, 
        purple 22.2% 33.3%, 
        black 33.3% 44.4%, 
        blue 44.4% 55.5%, 
        brown 55.5% 66.6%, 
        pink 66.6% 77.7%, 
        white 77.7% 88.8%, 
        gray 88.8% 100%
    );
}

#pointer {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #333;
    position: absolute;
    top: -2px; /* Ajustado para que el puntero esté un poco más abajo */
    left: 50%;
    transform: translateX(-50%) rotate(55deg); /* Rotación para que apunte hacia el centro */
}

#result-message {
    margin-top: 20px;
    font-size: 18px;
}
